### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
at_alsv_pro/.idea/SearchImage.iml
at_alsv_pro/.idea/misc.xml
at_alsv_pro/.idea/workspace.xml
at_alsv_pro/.idea/vcs.xml
at_alsv_pro/.idea
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store